#presentation{
    height: calc(100vh - 50px);
}

.presentation-left{
    width: 40%;
    margin: 0px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.presentation-right{
    left: 50%;
    margin: 0px;
    padding-right: 10%; 
}

.profile-pic{
    width: 500px;
    height: 500px;
}

.text-presentation{
    text-align: justify;
    font-size: 20px;
    padding-bottom: 20px;
}

.contacts-container{
    display: flex;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.email-container{
    display: flex;
    width: 262px;
    margin-left: auto;
    margin-right: auto;
}

.email-name{
    font-size: 18px;
    padding-top: 4px;
}

.email-icon{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

@media screen and (max-width: 1280px) {
    #presentation{
        position: inherit;
        height: auto;
    }

    .presentation-left {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        position: inherit;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    
    .presentation-right {
        width: 80%;
        padding-left: 10%;
        position: inherit;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        padding-bottom: 50px;
    }

    .profile-pic{
        width: 400px;
        height: 400px;
    }

    .myName{
        padding-top: 20px;
    }
}

@media screen and (max-width: 685px) {
    .profile-pic{
        width: 350px;
        height: 350px;
    }

    .text-presentation{
        font-size: 18px;
        padding-bottom: 18px;
    }

    .myName{
        font-size: 40px;
    }
    
    .contacts-container{
        margin-top: 15px;
        width: 220px;
    }

    .email-container{
        width: 229px;
    }

    .email-name{
        font-size: 16px;
    }

    .email-icon{
        height: 28px;
        width: 28px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 503px) {
    .presentation-right {
        width: 80%;
        padding-left: 10%;
        position: inherit;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        padding-bottom: 30px;
    }

    .profile-pic{
        width: 250px;
        height: 250px;
    }

    .myName{
        font-size: 30px;
    }

    .text-presentation{
        font-size: 16px;
        padding-bottom: 16px;
    }
    
    .contacts-container{
        margin-top: 10px;
        width: 173px;
    }

    .email-container{
        width: 197px;
    }

    .email-name{
        font-size: 14px;
    }

    .email-icon{
        height: 24px;
        width: 24px;
        margin-right: 8px;
    }
}