#projects-title{
	padding-top: 30px;
	padding-left: 30px;
}

.row{
	display: flex;
	margin-bottom: 80px;
}

.project-container{
	position: relative;
	width: 380px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	border-color: var(--main);
	border-style: solid;
	border-width: 5px;
	border-radius: 7px;
	box-shadow: 2px 2px 1px var(--shadow);
	background-color: var(--bgL);
}

.hide{
	display: none;
}

.no-project{
	visibility: hidden;
}

#cover-project-a51{
	background-image: url("../images/projects/a51.png");
}

#cover-project-xss{
	background-image: url("../images/projects/xss.png");
}

#cover-project-pmg{
	background-image: url("../images/projects/pmg.png");
}

.project-cover-container{
	position: relative;
	height: 180px;
	padding: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom: 2px solid var(--main);
}

.github-project-link{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	margin: 5px;
}

.project-title-bar{
	position: absolute;
	bottom: 0px;
	background-color: var(--main);
	color: var(--text);
	font-size: 25px;
	text-shadow: 2px 2px 1px var(--shadow);
}

.project-description-container{
	padding: 5px;
	text-align: justify;
}

.project-description{
	font-size: 20px;
}

.project-description-container hr{
	position: absolute;
	bottom: 42px;
}

.project-infos{
	position: absolute;
	bottom: 0px;
	margin-bottom: 5px;
	font-size: 16px;
}

.project-title-bar>span::selection, .link::selection {
    background: var(--text);
    color: var(--main);
}

.project-title-bar>span::-moz-selection, .link::-moz-selection {
    background: var(--text);
    color: var(--main);
}


@media screen and (max-width: 910px) {
	 
	#row1{
		display: inherit;
		margin-bottom: 20px;
	}

	.project-container{
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 685px) {
	#projects-title{
        font-size: 40px;
    }

	#row1{
		margin-bottom: 0px;
	}

	.project-container{
		width: 330px;
		height: 430px;
		border-width: 4px;
	}

	.project-cover-container{
		height: 150px;
	}

	.github-project-link{
		width: 40px;
		height: 40px;
	}

	.project-title-bar{
		font-size: 22px;
	}

	.project-description{
		font-size: 18px;
	}
}

@media screen and (max-width: 503px) {
	.project-container{
		width: 280px;
		height: 368px;
	}

	.project-cover-container{
		height: 120px;
	}

	.github-project-link{
		width: 35px;
		height: 35px;
	}

	.project-title-bar{
		font-size: 20px;
	}

	.project-description{
		font-size: 16px;
	}

	.project-description-container hr{
		bottom: 35px;
	}

	.project-infos{
		font-size: 14px;
	}
}

@media screen and (max-width: 315px) {

	.project-container{
		width: 250px;
		height: 350px;
	}

	.project-cover-container{
		height: 100px;
	}
}
