main{
    text-align: left;
}

hr{
    width: 50%;
    border-color: var(--bg);
}

h2{
    margin-left: 20px;
    font-size: 40px;
}

article{
    width: calc(100% - 50px);
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    margin-bottom: 50px;
}

.left-container{
    margin-left: 10px;
    width: 40%;
    text-align: center;
}

.icon{
    width: 300px;
    height: 300px;
}

.link-container{
    height: auto;
    margin-top: 20px;
    margin-left: calc(50% - 210px);
    display: flex;  
}

.link-button{
    background-color: var(--bg);
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    width: 170px;
    border: 2px solid var(--bg);
    border-radius: 5px;
}

.button{
    margin-top: 10px;
}

.right-container{
    width: calc(60% - 90px);
    margin-left: 30px;
    text-align: justify;
}

.descriptionTitle{
    margin-top: 0px;
}

.connection{
    color: var(--bg);
    text-shadow: none;
    font-size: 18px;
    margin: 0px;
}

.endSection{
    margin-top: 20px;
    font-style: italic;
    line-height: 30px;
}

@media screen and (max-width: 1000px) {  
    h2{
        font-size: 30px;
    }

    article{
        display: inherit;
    }
    
    .left-container{
        margin-left: 50px;
        width: calc(100% - 50px);
        display: flex;
    }
    
    .icon{
        width: 250px;
        height: 250px;
    }
    
    .link-container{
        height: auto;
        margin-top: 55px;
        margin-left: 50px;
        display: inline;  
    }
    
    .link-button{
        display: block; 
        margin-bottom: 20px;
    }
    
    .button{
        margin-top: 15px;
    }
    
    .right-container{
        margin-top: 50px;
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 600px) {   
    .left-container{
        margin-left: 10px;
        width: calc(100% - 10px);
    }

    .icon{
        width: 200px;
        height: 200px;
    }
    
    .link-container{
        margin-top: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {

    .left-container{
        width: 100%;
        display: inherit;
        margin: 0;
    }
        
    .link-container{
        /* margin-left: calc(50% - 210px); */
        display: flex;  
        margin-left: 0px;
    }
    
    .link-button{
        margin-left: 10px;
        margin-right: 10px;
        height: 50px;
        width: 150px;
    }

    .button{
        margin-top: 10px;
    }
}